html {
  font-family: sans-serif;
  background-color: #eaf4fc;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}
path.line {
  fill: none;
  stroke: #000;
}

#map {
  position: absolute;
  left: 350px;
  width: 1000px;
  height: 500px;
}

.legend {
  background: white;
  padding: 6px 6px;
  line-height: 14px;
  border-radius: 4px;
  width: 160px;
}

.legend i {
width: 8px;
height: 8px;
border-radius: 4px;
float: left;
margin: 2px 4px 0 0;
outline-style: solid;
outline-width: 1px;
}

.legend h4 {
text-align: center;
margin: 0 4px 6px 4px;
}

#barchart-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #000;
  padding: 4px;
}

.bar {
  shape-rendering: crispEdges;
}
.bar:hover,
.bar.active {
  stroke: #000;
}

#zipcodes-container {
  position: absolute;
  top: 1250px;
  left: 550px;
}

#zipcode-link {
  font-size: 12px;
  position: relative;
  top: 5px; right: 600px;
}

#weekdays {
  position: absolute;
  top: 1250px;
  left: 1100px;
}

#servicenames {
  position: absolute;
  top: 1250px;
  left: 0px;
}

#timeline {
  position: absolute;
  left: -300px;
  top: 1200px;
}

#responsetime {
  position: absolute;
  top: 1640px;
  left: 550px;
}

#colorBy {
  position: absolute;
  left: 800px;
  top: 630px;
}

#background-toggle {
  /*.style("position", "absolute")
  .style("z-index", "1000")
  .style("left", "260px")
  .style("top", "540px")*/
  position: absolute;
  left: 815px;
  top: 660px;
  z-index: 1000;
}

#restore {
  position: absolute;
  left: 815px;
  top: 690px;
  z-index: 1000;
} 

h1 {text-align: center}
h2 {text-align: center}
h3 {text-align: center}
