html {
  font-family: sans-serif;
  background-color: #eaf4fc;
}

.background-img {
  background-image: url("futurama_bg.jpg");
  background-repeat: no-repeat;
  width:20%;
  height:20%;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}

 rect {
  shape-rendering: crispEdges;
}

.season-1 rect{
  fill: #d70e17;
}

.season-2 rect{
  fill: #1887ab;
}

.season-3 rect{
  fill: #f0be39;
}

.season-4 rect{
  /* fill: #15df30; */
  fill: #ac259a;
}

.season-5 rect{
  
  fill: #15df30;
}

.season-6 rect{
  /* fill: #ac259a; */
  fill: #e46828;
  
}

.season-7 rect{
  fill: #0f5a0f;
}

.season-8 rect{
  fill: #00e5fe;
}

.season-9 rect{
  fill: #ff00ae;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 9%;
  padding: 5px;
  text-align: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


h1 {text-align: center}
h2 {text-align: center}
h3 {text-align: center}
